# AR parameters such as FFT parameters.
audio_repr: ar_m2d.AR_M2D_Steering_Neurons
weight_file: external/m2d/m2d_vit_base-80x608p16x16-221006-mr7/checkpoint-300.pth
feature_d: 3840
sample_rate: 16000
n_fft: 400
window_size: 400
hop_size: 160
n_mels: 80
f_min: 50
f_max: 8000
window: hanning

# Statistics for normalization: average and standard deviation
mean: -7.1
std: 4.2

# Model specific parameters.
output_layers: [-1]  # List of layers to stack
encoder_only: True
dur_frames:  # None for no desired number of frames
freeze_embed:  # Set True if freezing PatchEmbed during fine-tuning [2211.09359] How to Fine-Tune Vision Models with SGD

# Linear evaluation/Fine-tuning common parameters.
flat_features: False  # 768-d if True else 3840-d

# Linear evaluaition parameters.
batch_size: 128
lr_lineareval: 0.00003
report_per_epochs: 50
early_stop_epochs: 20

# Fine-tuning parameters.
training_mask: 0.0
warmup_epochs: 5

# Neuron intervention

### ['cremad: ANG', 'cremad: HAP']
# Reproduction steps:
# 1. Get the normal results and save the linear layer weights.
# python lineareval.py config/m2d.yaml cremad --seed=6 --save
# 2. Get the steered results.
# python le_eval_only.py config/m2d_abl_neuron1.yaml cremad logs/m2d_vit_base-80x608p16x16-221006-mr7-checkpoint-300_cremad_64f492be

int_gain: 0.0
int_neurons: [ [0, 1], [0, 112], [0, 793], [3, 382], [3, 741], [3, 755], [3, 1959], [3, 2097], [3, 2233], [5, 1430], [5, 2471], [6, 1196], [7, 638], [7, 1157], [7, 2499], [8, 386], [8, 2554], [9, 347], [10, 393], [10, 2120], [10, 2369], [10, 2663] ]

# Class                | Accuracy   | Diff (%)             | Samples 
# ------------------------------------------------------------
# ANG                  | 0.8264     | -0.0151 (-1.51%)     | 265     
# DIS                  | 0.6604     | +0.0113 (+1.13%)     | 265     
# FEA                  | 0.6629     | -0.0038 (-0.38%)     | 264     
# HAP                  | 0.7509     | -0.0038 (-0.38%)     | 265     
# NEU                  | 0.9207     | +0.0000 (+0.00%)     | 227     
# SAD                  | 0.5698     | +0.0113 (+1.13%)     | 265   
