# AR parameters such as FFT parameters.
audio_repr: ar_m2d.AR_M2D_Steering_Neurons
weight_file: external/m2d/m2d_vit_base-80x608p16x16-221006-mr7/checkpoint-300.pth
feature_d: 3840
sample_rate: 16000
n_fft: 400
window_size: 400
hop_size: 160
n_mels: 80
f_min: 50
f_max: 8000
window: hanning

# Statistics for normalization: average and standard deviation
mean: -7.1
std: 4.2

# Model specific parameters.
output_layers: [-1]  # List of layers to stack
encoder_only: True
dur_frames:  # None for no desired number of frames
freeze_embed:  # Set True if freezing PatchEmbed during fine-tuning [2211.09359] How to Fine-Tune Vision Models with SGD

# Linear evaluation/Fine-tuning common parameters.
flat_features: False  # 768-d if True else 3840-d

# Linear evaluaition parameters.
batch_size: 128
lr_lineareval: 0.00003
report_per_epochs: 50
early_stop_epochs: 20

# Fine-tuning parameters.
training_mask: 0.0
warmup_epochs: 5

# Neuron intervention

### ['gtzan: jazz', 'gtzan: classical']
# Reproduction steps:
# 1. Get the normal results and save the linear layer weights.
# python lineareval.py config/m2d.yaml gtzan --seed=6 --save
# 2. Get the steered results.
# python le_eval_only.py config/m2d_abl_neuron2.yaml gtzan logs/m2d_vit_base-80x608p16x16-221006-mr7-checkpoint-300_gtzan_bd1548da

int_gain: 0.0
int_neurons: [ [3, 2540], [4, 270], [4, 827], [5, 1521], [5, 2462], [6, 907], [6, 2415], [6, 2852], [7, 540], [7, 763], [7, 2466], [7, 2756], [8, 193], [8, 348], [8, 690], [8, 1315], [8, 1669], [8, 2804], [9, 328], [9, 596], [9, 660], [9, 1720], [10, 1521], [10, 1861], [10, 2798], [11, 1030] ]

# Class                | Accuracy   | Diff (%)             | Samples 
# ------------------------------------------------------------    
# blues                | 0.9032     | +0.0000 (+0.00%)     | 31      
# classical            | 1.0000     | +0.0000 (+0.00%)     | 31      
# country              | 0.8333     | +0.0333 (+3.33%)     | 30      
# disco                | 0.9310     | -0.0000 (-0.00%)     | 29      
# hiphop               | 0.9259     | -0.0000 (-0.00%)     | 27      
# jazz                 | 1.0000     | +0.0000 (+0.00%)     | 27      
# metal                | 0.9630     | +0.0000 (+0.00%)     | 27      
# pop                  | 0.7667     | +0.0333 (+3.33%)     | 30      
# reggae               | 0.8077     | +0.0000 (+0.00%)     | 26      
# rock                 | 0.5312     | +0.0000 (+0.00%)     | 32      
